In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sbrn

# Importing original dataset

In [9]:
dataset = pd.DataFrame(pd.read_excel('data/345e9990-8715-11eb-85f9-917cda200840Tech Careers Report PT 2021 - Raw Data.xlsx' ,sheet_name='TCS PT 2021 - raw data')).set_index('ID')

In [10]:
dataset

,Employment_Status,Employment_Status_Aggregated,Work_as_Contractor_12m,Work_as_Perm,Residence_Country,Residence_District,Residence_District_Aggregated,Work_Company_Country,Work_Company_Continent,Work_Company_PT_International,...,Citizenship,Birth_Year,Age,Gender,English_Level,Way_Into_Tech,Way_Into_Tech_Other,Education_Level,Working_Experience,Working_Experience_Aggregated
ID,,,,,,,,,,,,,,,,,,,,,
1,Employed full-time,Permanent Employee,1.0,NaN,Portugal,Santarém,Centre,Portugal,Europe,Portugal,...,Portuguese,1984.0,37.0,Male,Full professional proficiency,University,NaN,NaN,More than 9 years,6+ years
2,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Coimbra,Centre,Portugal,Europe,Portugal,...,Portuguese,1976.0,45.0,Male,Full professional proficiency,Self-taught,NaN,NaN,More than 9 years,6+ years
3,Working as a Contractor/Freelancer,Contractor,NaN,1.0,Portugal,Porto,Porto Metropolitan Area,No specific country,NaN,International,...,Portuguese,1986.0,35.0,Male,Full professional proficiency,University,NaN,Bachelor degree,Between 1 - 3 years,0 - 3 years
4,Employed full-time,Permanent Employee,1.0,NaN,Portugal,Açores,Azores and Madeira,Portugal,Europe,Portugal,...,Portuguese,1975.0,46.0,Male,Full professional proficiency,University,NaN,Bachelor degree,More than 9 years,6+ years
5,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Braga,North,Portugal,Europe,Portugal,...,Portuguese,1989.0,32.0,Male,Professional working proficiency,University,NaN,Bachelor degree,Between 6 - 9 years,6+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Porto,Porto Metropolitan Area,Portugal,Europe,Portugal,...,Portuguese,1992.0,29.0,Male,Full professional proficiency,Self-taught,NaN,University drop out,Between 3 - 6 years,3 - 6 years
3368,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Lisboa,Lisbon Metropolitan Area,Portugal,Europe,Portugal,...,Portuguese,1988.0,33.0,Male,Professional working proficiency,University,NaN,University drop out,Between 3 - 6 years,3 - 6 years
3369,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Porto,Porto Metropolitan Area,Germany,Europe,International,...,Portuguese,1982.0,39.0,Male,Professional working proficiency,University,NaN,University drop out,Between 6 - 9 years,6+ years
3370,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Porto,Porto Metropolitan Area,Portugal,Europe,Portugal,...,Portuguese,1988.0,33.0,Male,Full professional proficiency,University,NaN,University drop out,Between 3 - 6 years,3 - 6 years
3371,Working as a Contractor/Freelancer,Contractor,NaN,0.0,Portugal,Beja,South,Italy,Europe,International,...,Portuguese,1980.0,41.0,Male,Full professional proficiency,University,NaN,University drop out,More than 9 years,6+ years

In [13]:
print(dataset.columns)

Index(['Employment_Status', 'Employment_Status_Aggregated',
       'Work_as_Contractor_12m', 'Work_as_Perm', 'Residence_Country',
       'Residence_District', 'Residence_District_Aggregated',
       'Work_Company_Country', 'Work_Company_Continent',
       'Work_Company_PT_International',
       ...
       'Citizenship', 'Birth_Year', 'Age', 'Gender', 'English_Level',
       'Way_Into_Tech', 'Way_Into_Tech_Other', 'Education_Level',
       'Working_Experience', 'Working_Experience_Aggregated'],
      dtype='object', length=125)

# Analysis for companies

In [19]:
comp_df=pd.DataFrame(dataset, columns=['Employer_Size','Employer_Org_Type', 'Avg_Salary', 'Changing_Jobs_next_6_months', 'Work_Company_Country'])
comp_df

,Employer_Size,Employer_Org_Type,Avg_Salary,Changing_Jobs_next_6_months,Work_Company_Country
ID,,,,,
1,1000 - 4.999 employees,Corporate,32500,4.0,Portugal
2,Less than 10 employees,SME - Small or Medium Enterprise (personnel <250),12500,3.0,Portugal
3,Less than 10 employees,Startup (new business venture),16000,5.0,No specific country
4,100 - 499 employees,SME - Small or Medium Enterprise (personnel <250),17500,3.0,Portugal
5,10 - 19 employees,SME - Small or Medium Enterprise (personnel <250),17500,2.0,Portugal
...,...,...,...,...,...
3367,20 - 99 employees,Corporate,17500,3.0,Portugal
3368,100 - 499 employees,SME - Small or Medium Enterprise (personnel <250),27500,2.0,Portugal
3369,1000 - 4.999 employees,Corporate,32500,3.0,Germany
3370,100 - 499 employees,Consulting Business,22500,5.0,Portugal
3371,20 - 99 employees,SME - Small or Medium Enterprise (personnel <250),43200,2.0,Italy

In [20]:
plt.

AttributeError: module 'matplotlib' has no attribute 'plot'