In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Importing original dataset

In [2]:
dataset = pd.DataFrame(pd.read_excel("data/345e9990-8715-11eb-85f9-917cda200840Tech Careers Report PT 2021 - Raw Data.xlsx" ,sheet_name="TCS PT 2021 - raw data")).set_index("ID")

dataset.head()

,Employment_Status,Employment_Status_Aggregated,Work_as_Contractor_12m,Work_as_Perm,Residence_Country,Residence_District,Residence_District_Aggregated,Work_Company_Country,Work_Company_Continent,Work_Company_PT_International,...,Citizenship,Birth_Year,Age,Gender,English_Level,Way_Into_Tech,Way_Into_Tech_Other,Education_Level,Working_Experience,Working_Experience_Aggregated
ID,,,,,,,,,,,,,,,,,,,,,
1,Employed full-time,Permanent Employee,1.0,NaN,Portugal,Santarém,Centre,Portugal,Europe,Portugal,...,Portuguese,1984.0,37.0,Male,Full professional proficiency,University,NaN,NaN,More than 9 years,6+ years
2,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Coimbra,Centre,Portugal,Europe,Portugal,...,Portuguese,1976.0,45.0,Male,Full professional proficiency,Self-taught,NaN,NaN,More than 9 years,6+ years
3,Working as a Contractor/Freelancer,Contractor,NaN,1.0,Portugal,Porto,Porto Metropolitan Area,No specific country,NaN,International,...,Portuguese,1986.0,35.0,Male,Full professional proficiency,University,NaN,Bachelor degree,Between 1 - 3 years,0 - 3 years
4,Employed full-time,Permanent Employee,1.0,NaN,Portugal,Açores,Azores and Madeira,Portugal,Europe,Portugal,...,Portuguese,1975.0,46.0,Male,Full professional proficiency,University,NaN,Bachelor degree,More than 9 years,6+ years
5,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Braga,North,Portugal,Europe,Portugal,...,Portuguese,1989.0,32.0,Male,Professional working proficiency,University,NaN,Bachelor degree,Between 6 - 9 years,6+ years

In [3]:
dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3371 entries, 1 to 3371
Data columns (total 125 columns):
 #    Column                                                                       Dtype
---   ------                                                                       -----
 0    Employment_Status                                                            object
 1    Employment_Status_Aggregated                                                 object
 2    Work_as_Contractor_12m                                                       float64
 3    Work_as_Perm                                                                 float64
 4    Residence_Country                                                            object
 5    Residence_District                                                           object
 6    Residence_District_Aggregated                                                object
 7    Work_Company_Country                                                         object
 8    Work_Company_Continent                                                       object
 9    Work_Company_PT_International                                                object
 10   Work_Company_PT_District                                                     object
 11   Work_Company_PT_District_Aggregated                                          object
 12   Remote_Working_Current                                                       object
 13   Remote_Working_Current_Flexible_Office_Days                                  float64
 14   Remote_Working_due_to_Covid                                                  object
 15   Job_Remote_or_Office                                                         object
 16   Remote_Work_Opinion                                                          float64
 17   Job_Role_Original                                                            object
 18   Job_Role_Other                                                               object
 19   Job_Role                                                                     object
 20   Employer_Industry                                                            object
 21   Employer_Industry_Other                                                      object
 22   Employer_Org_Type                                                            object
 23   Employer_Org_Type_Other                                                      object
 24   Employer_Size                                                                object
 25   Language_JavaScript                                                          object
 26   Language_Bash/Shell/PowerShell                                               object
 27   Language_SQL                                                                 object
 28   Language_Java                                                                object
 29   Language_C#                                                                  object
 30   Language_Python                                                              object
 31   Language_PHP                                                                 object
 32   Language_C++                                                                 object
 33   Language_C                                                                   object
 34   Language_TypeScript                                                          object
 35   Language_Ruby                                                                object
 36   Language_Swift                                                               object
 37   Language_Objective-C                                                         object
 38   Language_VB.NET                                                              object
 39   Language_Assembly                                                            object
 40   Language_R                                                                   object
 41   Language_Perl                                                                object
 42   Language_VBA                                                                 object
 43   Language_Matlab                                                              object
 44   Language_Go                                                                  object
 45   Language_Scala                                                               object
 46   Language_Groovy                                                              object
 47   Language_Coffee Script                                                       object
 48   Language_Visual Basic 6                                                      object
 49   Language_Lua                                                                 object
 50   Language_Haskell                                                             object
 51   Language_HTML/CSS                                                            object
 52   Language_Kotlin                                                              object
 53   Language_Rust                                                                object
 54   Language_Elixir                                                              object
 55   Language_Clojure                                                             object
 56   Language_WebAssembly                                                         object
 57   Language_Dart                                                                object
 58   Language_Languages_N/A                                                       float64
 59   Language_Languages_Other                                                     object
 60   Framework_jQuery                                                             object
 61   Framework_.NET                                                               object
 62   Framework_Angular/Angular.js                                                 object
 63   Framework_Ruby on Rails                                                      object
 64   Framework_React                                                              object
 65   Framework_Django                                                             object
 66   Framework_Laravel                                                            object
 67   Framework_Spring                                                             object
 68   Framework_Vue.js                                                             object
 69   Framework_Express                                                            object
 70   Framework_Meteor                                                             object
 71   Framework_Flask                                                              object
 72   Framework_Ember.js                                                           object
 73   Framework_Drupal                                                             object
 74   Framework_OutSystems                                                         object
 75   Framework_Framework_N/A                                                      float64
 76   Framework_Framework_Other                                                    object
 77   Contractor_Avg_Project                                                       object
 78   Contractor_Avg_Project_Intervals                                             object
 79   Contractor_Avg_Hour_Rate                                                     float64
 80   Contractor_Avg_Annual_Salary                                                 float64
 81   Perm_Current_Company_how_long                                                object
 82   Perm_GAS                                                                     object
 83   Perm_GAS_Avg                                                                 float64
 84   Perm_GAS_Low_Limit                                                           float64
 85   Perm_GAS_High_Limit                                                          float64
 86   Avg_Salary                                                                   int64
 87   Salary_Change                                                                object
 88   Salary_Fairness                                                              int64
 89   Changing_Jobs_next_6_months                                                  float64
 90   Job_Motivator_Work_life_balance                                              int64
 91   Job_Motivator_Compensation_and_benefits                                      int64
 92   Job_Motivator_Training/Development_programs_at_work                          int64
 93   Job_Motivator_Career_growth_opportunities                                    int64
 94   Job_Motivator_Remote_working                                                 int64
 95   Job_Motivator_Flexible_schedule                                              int64
 96   Job_Motivator_Company_culture                                                int64
 97   Job_Motivator_The_technologies_I'm_working_with                              int64
 98   Job_Motivator_Versatility/Variety_of_projects                                int64
 99   Job_Motivator_Freedom_to_choose_the_clients_and/or_projects                  int64
 100  Job_Motivator_Being_autonomous_at_work                                       int64
 101  Job_Motivator_How_widely_used_or_impactful_the_product/service_I_work_on_is  int64
 102  Job_Motivator_Environmentally_friendly/responsible_work_practice             int64
 103  Job_Perk_Meals_allowance/Company_provided_meals_or_snacks                    int64
 104  Job_Perk_Transportation_benefit                                              int64
 105  Job_Perk_Health_benefits                                                     int64
 106  Job_Perk_Fitness_or_wellness_benefit_(ex._gym_membership)                    int64
 107  Job_Perk_Computer/_Office_equipment_allowance                                int64
 108  Job_Perk_Professional_development_sponsorship                                int64
 109  Job_Perk_Annual_bonus                                                        int64
 110  Job_Perk_Long-term_leave                                                     int64
 111  Job_Perk_Parental_leave                                                      int64
 112  Job_Perk_Stock_options_or_shares                                             int64
 113  Job_Perk_Education_sponsorship                                               int64
 114  Job_Perk_Child_care                                                          int64
 115  Citizenship                                                                  object
 116  Birth_Year                                                                   float64
 117  Age                                                                          float64
 118  Gender                                                                       object
 119  English_Level                                                                object
 120  Way_Into_Tech                                                                object
 121  Way_Into_Tech_Other                                                          object
 122  Education_Level                                                              object
 123  Working_Experience                                                           object
 124  Working_Experience_Aggregated                                                object
dtypes: float64(14), int64(27), object(84)
memory usage: 3.2+ MB

## Geting a lighter dataset

In [4]:
# Droping "Job_Motivator" and "Job_Perk" columns
df=dataset
for i in df.columns:
    if "Job_Motivator" in i or "Job_Perk" in i:
        df.drop(axis=1, columns=[i], inplace=True)

In [5]:
# Droping some more columns
df.drop(axis=1, 
        columns=["Employment_Status",
                 "Residence_Country",
                 "Residence_District",
                 "Residence_District_Aggregated",
                 "Work_Company_Continent",
                 "Work_Company_PT_International",
                 "Work_Company_PT_District",
                 "Work_Company_PT_District_Aggregated",
                 "Remote_Working_Current",
                 "Remote_Working_Current_Flexible_Office_Days",
                 "Remote_Working_due_to_Covid",
                 "Remote_Work_Opinion",
                 "Job_Role_Original",
                 "Job_Role_Other",
                 "Employer_Industry",
                 "Employer_Industry_Other",
                 "Employer_Org_Type_Other",
                 "Perm_GAS", "Perm_GAS_Avg",
                 "Perm_GAS_Low_Limit",
                 "Perm_GAS_High_Limit",
                 "Way_Into_Tech",
                 "Way_Into_Tech_Other",
                 "Working_Experience",
                 "Work_as_Contractor_12m",
                 "Work_as_Perm",
                 "Language_Languages_N/A",
                 "Framework_Framework_N/A"
                ],
        inplace=True)

In [6]:
df.head()

,Employment_Status_Aggregated,Work_Company_Country,Job_Remote_or_Office,Job_Role,Employer_Org_Type,Employer_Size,Language_JavaScript,Language_Bash/Shell/PowerShell,Language_SQL,Language_Java,...,Salary_Change,Salary_Fairness,Changing_Jobs_next_6_months,Citizenship,Birth_Year,Age,Gender,English_Level,Education_Level,Working_Experience_Aggregated
ID,,,,,,,,,,,,,,,,,,,,,
1,Permanent Employee,Portugal,Full Office Job,Technical Team Leader,Corporate,1000 - 4.999 employees,NaN,NaN,SQL,Java,...,Hasn't changed,4,4.0,Portuguese,1984.0,37.0,Male,Full professional proficiency,NaN,6+ years
2,Permanent Employee,Portugal,Full Office Job,Full-Stack Developer,SME - Small or Medium Enterprise (personnel <250),Less than 10 employees,JavaScript,NaN,SQL,NaN,...,Hasn't changed,4,3.0,Portuguese,1976.0,45.0,Male,Full professional proficiency,NaN,6+ years
3,Contractor,No specific country,Full Office Job,Full-Stack Developer,Startup (new business venture),Less than 10 employees,JavaScript,NaN,SQL,Java,...,Decreased more than 15%,3,5.0,Portuguese,1986.0,35.0,Male,Full professional proficiency,Bachelor degree,0 - 3 years
4,Permanent Employee,Portugal,Full Office Job,Product Owner/Product Manager,SME - Small or Medium Enterprise (personnel <250),100 - 499 employees,JavaScript,NaN,NaN,NaN,...,"]0%, 5%]",4,3.0,Portuguese,1975.0,46.0,Male,Full professional proficiency,Bachelor degree,6+ years
5,Permanent Employee,Portugal,Remote Job (full or flexible),Back-End Developer,SME - Small or Medium Enterprise (personnel <250),10 - 19 employees,JavaScript,NaN,SQL,Java,...,Increased more than 15%,5,2.0,Portuguese,1989.0,32.0,Male,Professional working proficiency,Bachelor degree,6+ years

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3371 entries, 1 to 3371
Data columns (total 72 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Employment_Status_Aggregated      3371 non-null   object
 1   Work_Company_Country              3369 non-null   object
 2   Job_Remote_or_Office              3371 non-null   object
 3   Job_Role                          3371 non-null   object
 4   Employer_Org_Type                 3330 non-null   object
 5   Employer_Size                     3371 non-null   object
 6   Language_JavaScript               1720 non-null   object
 7   Language_Bash/Shell/PowerShell    612 non-null    object
 8   Language_SQL                      1555 non-null   object
 9   Language_Java                     794 non-null    object
 10  Language_C#                       749 non-null    object
 11  Language_Python                   617 non-null    object
 12  Language_PHP                      470 non-null    object
 13  Language_C++                      177 non-null    object
 14  Language_C                        107 non-null    object
 15  Language_TypeScript               699 non-null    object
 16  Language_Ruby                     158 non-null    object
 17  Language_Swift                    118 non-null    object
 18  Language_Objective-C              57 non-null     object
 19  Language_VB.NET                   108 non-null    object
 20  Language_Assembly                 11 non-null     object
 21  Language_R                        64 non-null     object
 22  Language_Perl                     28 non-null     object
 23  Language_VBA                      96 non-null     object
 24  Language_Matlab                   21 non-null     object
 25  Language_Go                       129 non-null    object
 26  Language_Scala                    68 non-null     object
 27  Language_Groovy                   80 non-null     object
 28  Language_Coffee Script            12 non-null     object
 29  Language_Visual Basic 6           44 non-null     object
 30  Language_Lua                      17 non-null     object
 31  Language_Haskell                  3 non-null      object
 32  Language_HTML/CSS                 1210 non-null   object
 33  Language_Kotlin                   180 non-null    object
 34  Language_Rust                     23 non-null     object
 35  Language_Elixir                   33 non-null     object
 36  Language_Clojure                  8 non-null      object
 37  Language_WebAssembly              20 non-null     object
 38  Language_Dart                     43 non-null     object
 39  Language_Languages_Other          203 non-null    object
 40  Framework_jQuery                  766 non-null    object
 41  Framework_.NET                    772 non-null    object
 42  Framework_Angular/Angular.js      572 non-null    object
 43  Framework_Ruby on Rails           145 non-null    object
 44  Framework_React                   756 non-null    object
 45  Framework_Django                  140 non-null    object
 46  Framework_Laravel                 193 non-null    object
 47  Framework_Spring                  404 non-null    object
 48  Framework_Vue.js                  278 non-null    object
 49  Framework_Express                 256 non-null    object
 50  Framework_Meteor                  7 non-null      object
 51  Framework_Flask                   112 non-null    object
 52  Framework_Ember.js                19 non-null     object
 53  Framework_Drupal                  50 non-null     object
 54  Framework_OutSystems              52 non-null     object
 55  Framework_Framework_Other         304 non-null    object
 56  Contractor_Avg_Project            205 non-null    object
 57  Contractor_Avg_Project_Intervals  205 non-null    object
 58  Contractor_Avg_Hour_Rate          205 non-null    float64
 59  Contractor_Avg_Annual_Salary      205 non-null    float64
 60  Perm_Current_Company_how_long     3166 non-null   object
 61  Avg_Salary                        3371 non-null   int64
 62  Salary_Change                     3370 non-null   object
 63  Salary_Fairness                   3371 non-null   int64
 64  Changing_Jobs_next_6_months       3369 non-null   float64
 65  Citizenship                       3371 non-null   object
 66  Birth_Year                        3365 non-null   float64
 67  Age                               3365 non-null   float64
 68  Gender                            3371 non-null   object
 69  English_Level                     3371 non-null   object
 70  Education_Level                   3369 non-null   object
 71  Working_Experience_Aggregated     3371 non-null   object
dtypes: float64(5), int64(2), object(65)
memory usage: 1.9+ MB

## Encoding columns

In [8]:
df["Employment_Status_Aggregated"].unique()

array(['Permanent Employee', 'Contractor'], dtype=object)

In [13]:
df["Employment_Status_Aggregated"]=df["Employment_Status_Aggregated"].apply(lambda x: 0 if x=="Permanent Employee" else 1)

In [15]:
df["Employment_Status_Aggregated"].unique()

array([0, 1])

In [17]:
df["Education_Level"].unique()

array([nan, 'Bachelor degree', 'High School Education', 'Basic Education',
       'Doctoral degree', 'I prefer not to answer', 'Masters degree',
       'Trade/technical/vocational training', 'University drop out'],
      dtype=object)

In [18]:
df["Education_Level"]=df["Education_Level"].apply(lambda x: 'NA' if pd.isna(x) else x)

Educ_levels={'NA':0,
             'I prefer not to answer':0,
             'Basic Education':1,
             'High School Education':2,
             'Bachelor degree':3,
             'Masters degree':4,
             'Doctoral degree':5,
             'Trade/technical/vocational training':2,
             'University drop out':2
            }

df["Education_Level"]=df["Education_Level"].apply(lambda x: Educ_levels[x])

In [19]:
df["Education_Level"].unique()

array([0, 3, 2, 1, 5, 4])

In [23]:
df['Age'].unique()

array([37., 45., 35., 46., 32., 26., 30., 38., 24., 39., 25., 29., 27.,
       31., 40., 43., 23., 33., 34., 51., 36., 28., 50., 41., 44., 49.,
       22., 42., 21., 48., 47., 52., 53., 62., 58., 59., 56., 54., 55.,
       nan, 61., 19., 20., 67., 57.])

In [28]:
df.Age.unique()

array([37., 45., 35., 46., 32., 26., 30., 38., 24., 39., 25., 29., 27.,
       31., 40., 43., 23., 33., 34., 51., 36., 28., 50., 41., 44., 49.,
       22., 42., 21., 48., 47., 52., 53., 62., 58., 59., 56., 54., 55.,
       61., 19., 20., 67., 57.])

In [27]:
df.dropna(subset=["Age"], inplace=True)

In [39]:
df.isna().sum()

Employment_Status_Aggregated      0
Work_Company_Country              2
Job_Remote_or_Office              0
Job_Role                          0
Employer_Org_Type                41
                                 ..
Age                               0
Gender                            0
English_Level                     0
Education_Level                   0
Working_Experience_Aggregated     0
Length: 72, dtype: int64

In [41]:
df["Job_Remote_or_Office"].unique()

array(['Full Office Job', 'Remote Job (full or flexible)'], dtype=object)

In [42]:
df["Job_Remote_or_Office"]=df["Job_Remote_or_Office"].apply(lambda x: 0 if x=='Full Office Job' else 1)

In [46]:
df["Working_Experience_Aggregated"].unique()

array(['6+ years', '0 - 3 years', '3 - 6 years', '0 Years'], dtype=object)

In [47]:
work_exp={'0 Years':0,
          '0 - 3 years':1,
          '3 - 6 years':2,
          '6+ years':3
         }
df["Working_Experience_Aggregated"]=df["Working_Experience_Aggregated"].apply(lambda x: work_exp[x])
df["Working_Experience_Aggregated"].unique()

array([3, 1, 2, 0])

In [48]:
columns=["Avg_Salary", "Age", "Gender", "Salary_Fairness", "Education_Level", "Job_Remote_or_Office", "Working_Experience_Aggregated"]
corr=df[columns].corr()
corr.style.background_gradient(cmap='Blues')

# Analysis for companies

In [ ]:
comp_df=pd.DataFrame(dataset, columns=["Employer_Size","Employer_Org_Type", "Avg_Salary", "Changing_Jobs_next_6_months", "Work_Company_Country"])
comp_df

In [ ]:
comp_df.info()

In [ ]:
comp_df["Employer_Org_Type"].isna().sum()

In [ ]:
comp_df["Employer_Org_Type"]=comp_df["Employer_Org_Type"].apply(lambda x: "NA" if pd.isna(x) else x)

In [ ]:
comp_df["Employer_Org_Type"].unique()

In [ ]:
comp_df["Changing_Jobs_next_6_months"].isna().sum()

In [ ]:
comp_df["Changing_Jobs_next_6_months"]=comp_df["Changing_Jobs_next_6_months"].apply(lambda x: 0 if pd.isna(x) else x)

In [ ]:
comp_df["Avg_Salary"].isna().sum()

In [ ]:
comp_df["Employer_Size"].isna().sum()

In [ ]:
np.sort(comp_df["Employer_Size"].unique())

## Avg Salary vs Employer Size vs Employer Org. Type vs Willing to change jobs

In [ ]:
fig_1=px.scatter(comp_df,
                 x="Avg_Salary", 
                 y="Changing_Jobs_next_6_months"
                )
#fig.update_layout(dict(showlegend=False))
fig_1.show()

In [ ]:
fig_1=px.scatter(comp_df,
                 x="Avg_Salary", 
                 y="Employer_Org_Type",
                 #facet_row="Employer_Size",
                 color="Changing_Jobs_next_6_months", 
                 category_orders={"Employer_Size":["Less than 10 employees",
                                                     "10 - 19 employees",
                                                     "20 - 99 employees",
                                                     "100 - 499 employees",
                                                     "500 - 999 employees",
                                                     "1000 - 4.999 employees",
                                                     "More than 5.000 employees"],
                                  "Changing_Jobs_next_6_months":["0","1","2","3","4","5"]
                                 },
                #height=2000
                )
fig.update_layout(dict(showlegend=False))
fig_1.show()

## Avg Salary vs Employer Org Type vs Willing to change jobs

In [ ]:
fig_2=px.scatter(comp_df,
                 x="Avg_Salary",
                 y="Employer_Org_Type",
                 color="Changing_Jobs_next_6_months")

fig_2.show()

# Analysis for employees

In [ ]:
dataset["Working_Experience_Aggregated"].unique()

## Working Experience vs Avg Salary by Remote/Office Job by Gender

In [ ]:
fig_3=px.scatter(dataset,
                 x="Avg_Salary",
                 y="Working_Experience_Aggregated",
                 facet_row="Gender",
                 facet_col="Job_Remote_or_Office",
                 height=1000,
                 category_orders={"Working_Experience_Aggregated":["6+ years", "3 - 6 years", "0 - 3 years", "0 Years"]}
                )

fig_3.show()

In [ ]:
fig_3=px.scatter(dataset,
                 x="Avg_Salary",
                 y="Job",
                 facet_row="Working_Experience_Aggregated",
                 facet_col="Job_Remote_or_Office",
                 height=1000,
                 category_orders={"Working_Experience_Aggregated":["6+ years", "3 - 6 years", "0 - 3 years", "0 Years"]}
                )

fig_3.show()